<!--
/*
  This file is part of AdBlock  <https://getadblock.com/>,
  Copyright (C) 2013-present  Adblock, Inc.

  AdBlock is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License version 3 as
  published by the Free Software Foundation.

  AdBlock is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with AdBlock.  If not, see <http://www.gnu.org/licenses/>.

-->
<div class="dialog">
  <header>
    <span class="header-section">
      <img class="header-logo" alt="AdBlock logo" id="adblock-logo" />
      <span class="header-logo-text">AdBlock</span>
    </span>
    <span class="header-section">
      <i tabindex="10" class="material-icons md-20" id="closeIcon" role="img" aria-label="close"
        >close</i
      >
    </span>
  </header>
  <main>
    <h1 class="titleRow" id="titleRow"></h1>
    <section id="bodySection"></section>
  </main>

  <footer id="footer">
    <button id="continue"></button>
  </footer>
</div>
